div {
    border: 2px solid black;
    margin: 2%;
}
#mybike{
    color:green;
}
#cars_in_chicago{
    background: yellow;
}
#Test4 {
    background: red;
}
#Test5 {
    background: pink;
}
#Test6 {
    background:greenyellow;
}