html {
    font-size: 70%;
    box-sizing: border-box;
    
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: url("https://i.ibb.co/7YZPXV6/v3d-Metalsglass-008-jpgd2538294-021c-4bfa-8d62-c4660bb11ae2-Default-HQ.jpg") center;
    border-radius:50px;
    
}
.calculator :: img{
    opacity:.5;
}
.calculator-screen {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    background: linear-gradient(to top, transparent, transparent 10%,
     rgba(0, 0, 0, 1));
    background-color: rgba(171, 167, 197, 0.9);
    text-align: right;
    color:rgba(255, 255, 255, 0.781);
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 45px 45px;
    border: 2px solid rgba(171, 167, 197, 0.9);
    ;

}

button {
    height: 70px;
    border-radius: 45px;
    
    background-color: rgba(171, 167, 197, 0.9);
    font-size: 3.2rem;
    color: rgb(32, 38, 51);
    background-image: linear-gradient(to bottom, transparent, transparent 50%,
            rgba(0, 0, 0, .46));
    text-shadow: 0 1px rgba(255, 255, 255, .4);
    box-shadow: inset 10px 0px 10px 10px rgba(255, 255, 255, .05), inset 0 1px 0 0 rgba(255, 255, 255, .05), inset 0 -1px 0 0 rgba(255, 255, 255, .05),
        0 1px 0 0 rgba(255, 255, 255, .05);
    font-family: 'Abril Fatface', cursive;
    transition: .8s;
}

button:hover {
    background-color: rgba(52, 54, 56, 0.9);
        color: rgba(171, 167, 197, 0.97);

}

.operator {
    background-image: linear-gradient(to bottom, transparent, transparent 50%,
            rgba(0, 0, 0, .9));
    background-color: rgba(52, 54, 56, 0.9);
    color: rgba(171, 167, 197, 0.9);
    font-weight:bolder;
    border: 2px solid rgba(171, 167, 197, 0.9);
}
.operator:hover {
    background-color: rgba(171, 167, 197, 0.9);
    color: rgba(52, 54, 56, 0.9);
    border: 4px solid rgba(52, 54, 56, 0.9)
}
.all-clear {
    background-color: rgba(52, 54, 56, 0.9);
    border-color: darkslategray;
    color: #fff;
}

.all-clear:hover {
    background-color: rgba(171, 167, 197, 0.9);
    color: rgba(52, 54, 56, 0.767);
}

.equal-sign {
    background-color: rgba(52, 54, 56, 0.9);
    border-color: darkslategray;
    color: #fff;
    height: 100%;
    grid-area: 2/ 4/ 6/ 5;
    border: 2px solid rgba(171, 167, 197, 0.9);

}

.equal-sign:hover {
        color: rgba(52, 54, 56, 0.9);

}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
    
}
